USE [T3BD]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_ConsultarEstadoCuenta]
    @inNumeroFinca VARCHAR(30) = NULL
    , @inValorDocumento VARCHAR(30) = NULL
    , @outResultCode INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        
        SET @outResultCode = 0;

        -- =============================================
        -- VALIDACIONES
        -- =============================================
        
        -- Validar que al menos uno de los parámetros venga
        IF (@inNumeroFinca IS NULL AND @inValorDocumento IS NULL)
        BEGIN
            SET @outResultCode = 50501;
            RETURN;
        END;

        -- Si viene documento, obtener fincas asociadas
        DECLARE @tablaFincas TABLE (
            numeroFinca VARCHAR(30)
        );

        IF (@inValorDocumento IS NOT NULL)
        BEGIN
            
            -- Validar que propietario exista
            IF NOT EXISTS (
                SELECT 1
                FROM dbo.Propietario P
                WHERE (P.valorDocumentoIdentidad = @inValorDocumento)
            )
            BEGIN
                SET @outResultCode = 50502;
                RETURN;
            END;

            -- Obtener todas las fincas del propietario
            INSERT INTO @tablaFincas (numeroFinca)
            SELECT DISTINCT PP.numeroFinca
            FROM dbo.PropiedadPropietario PP
            WHERE (PP.valorDocumentoIdentidad = @inValorDocumento)
                AND (PP.esActual = 1);

            -- Si el propietario no tiene fincas activas
            IF NOT EXISTS (SELECT 1 FROM @tablaFincas)
            BEGIN
                SET @outResultCode = 50503;
                RETURN;
            END;

        END
        ELSE
        BEGIN
            
            -- Validar que finca exista
            IF NOT EXISTS (
                SELECT 1
                FROM dbo.Propiedad P
                WHERE (P.numeroFinca = @inNumeroFinca)
                    AND (P.activo = 1)
            )
            BEGIN
                SET @outResultCode = 50504;
                RETURN;
            END;

            -- Agregar la finca específica
            INSERT INTO @tablaFincas (numeroFinca)
            VALUES (@inNumeroFinca);

        END;

        -- =============================================
        -- RESULT SET 1: INFORMACIÓN DE PROPIEDADES
        -- =============================================
        
        SELECT 
            P.numeroFinca
            , P.numeroMedidor
            , TU.nombre AS tipoUso
            , TZ.nombre AS tipoZona
            , P.valorFiscal
            , P.metrosCuadrados
            , P.m3Acumulados
            , M.fechaUltimaLectura
        FROM dbo.Propiedad P
            INNER JOIN dbo.TipoUso TU ON (TU.idTipoUso = P.idTipoUso)
            INNER JOIN dbo.TipoZona TZ ON (TZ.idTipoZona = P.idTipoZona)
            LEFT JOIN dbo.Medidor M ON (M.numeroMedidor = P.numeroMedidor)
        WHERE (P.numeroFinca IN (SELECT numeroFinca FROM @tablaFincas))
        ORDER BY P.numeroFinca;

        -- =============================================
        -- RESULT SET 2: PROPIETARIOS DE LAS PROPIEDADES
        -- =============================================
        
        SELECT 
            PP.numeroFinca
            , PROP.valorDocumentoIdentidad
            , TD.nombre AS tipoDocumento
            , PROP.nombre AS nombrePropietario
            , PROP.email
            , PROP.telefono1
            , PP.fechaInicio
        FROM dbo.PropiedadPropietario PP
            INNER JOIN dbo.Propietario PROP ON (PROP.valorDocumentoIdentidad = PP.valorDocumentoIdentidad)
            INNER JOIN dbo.TipoDocumentoIdentidad TD ON (TD.idTipoDocumento = PROP.idTipoDocumento)
        WHERE (PP.numeroFinca IN (SELECT numeroFinca FROM @tablaFincas))
            AND (PP.esActual = 1)
        ORDER BY PP.numeroFinca, PROP.nombre;

        -- =============================================
        -- RESULT SET 3: CONCEPTOS DE COBRO ASIGNADOS
        -- =============================================
        
        SELECT 
            PCC.numeroFinca
            , CC.idCC
            , CC.nombre AS conceptoCobro
            , CC.valorFijo
            , CC.valorPorcentaje
            , PM.nombre AS periodo
            , TM.nombre AS tipoMonto
            , PCC.fechaAsignacion
        FROM dbo.PropiedadConceptoCobro PCC
            INNER JOIN dbo.ConceptoCobro CC ON (CC.idCC = PCC.idCC)
            INNER JOIN dbo.PeriodoMontoCC PM ON (PM.idPeriodo = CC.idPeriodoMontoCC)
            INNER JOIN dbo.TipoMontoCC TM ON (TM.idTipoMonto = CC.idTipoMontoCC)
        WHERE (PCC.numeroFinca IN (SELECT numeroFinca FROM @tablaFincas))
            AND (PCC.activo = 1)
        ORDER BY PCC.numeroFinca, CC.idCC;

        -- =============================================
        -- RESULT SET 4: FACTURAS PENDIENTES
        -- =============================================
        
        SELECT 
            F.idFactura
            , F.numeroFinca
            , F.numeroFactura
            , F.periodo
            , F.fechaEmision
            , F.fechaVencimiento
            , DATEDIFF(DAY, F.fechaVencimiento, GETDATE()) AS diasVencidos
            , F.totalOriginal
            , F.totalAPagar
            , CASE 
                WHEN GETDATE() > F.fechaVencimiento THEN 1
                ELSE 0
              END AS estaVencida
        FROM dbo.Factura F
        WHERE (F.numeroFinca IN (SELECT numeroFinca FROM @tablaFincas))
            AND (F.idEstadoFactura = 0)
        ORDER BY F.fechaEmision ASC;

        -- =============================================
        -- RESULT SET 5: DETALLES DE FACTURAS PENDIENTES
        -- =============================================
        
        SELECT 
            FD.idFactura
            , F.numeroFactura
            , CC.idCC
            , CC.nombre AS conceptoCobro
            , FD.monto
        FROM dbo.FacturaDetalle FD
            INNER JOIN dbo.Factura F ON (F.idFactura = FD.idFactura)
            INNER JOIN dbo.ConceptoCobro CC ON (CC.idCC = FD.idCC)
        WHERE (F.numeroFinca IN (SELECT numeroFinca FROM @tablaFincas))
            AND (F.idEstadoFactura = 0)
        ORDER BY FD.idFactura, FD.idCC;

        -- =============================================
        -- RESULT SET 6: FACTURAS PAGADAS (últimas 12 meses)
        -- =============================================
        
        SELECT 
            F.idFactura
            , F.numeroFinca
            , F.numeroFactura
            , F.periodo
            , F.fechaEmision
            , F.fechaVencimiento
            , F.totalOriginal
            , F.totalAPagar
            , P.fechaPago
            , P.montoPagado
            , P.numeroComprobante
            , MP.nombre AS medioPago
        FROM dbo.Factura F
            INNER JOIN dbo.Pago P ON (P.idFactura = F.idFactura)
            INNER JOIN dbo.MedioPago MP ON (MP.idMedioPago = P.idMedioPago)
        WHERE (F.numeroFinca IN (SELECT numeroFinca FROM @tablaFincas))
            AND (F.idEstadoFactura = 1)
            AND (P.fechaPago >= DATEADD(MONTH, -12, GETDATE()))
        ORDER BY P.fechaPago DESC;

        -- =============================================
        -- RESULT SET 7: ÓRDENES DE CORTE ACTIVAS
        -- =============================================
        
        SELECT 
            OC.idOrdenCorte
            , OC.numeroFinca
            , OC.fechaCreacion
            , OC.fechaEjecucion
            , EO.nombre AS estadoOrden
            , F.numeroFactura AS facturaOrigen
        FROM dbo.OrdenCorte OC
            INNER JOIN dbo.EstadoOrden EO ON (EO.idEstadoOrden = OC.idEstadoOrden)
            LEFT JOIN dbo.Factura F ON (F.idFactura = OC.idFacturaOrigen)
        WHERE (OC.numeroFinca IN (SELECT numeroFinca FROM @tablaFincas))
        ORDER BY OC.fechaCreacion DESC;

        -- =============================================
        -- RESULT SET 8: RESUMEN FINANCIERO
        -- =============================================
        
        SELECT 
			F.numeroFinca
			, COUNT(CASE WHEN F.idEstadoFactura = 0 THEN 1 END) AS cantidadFacturasPendientes
			, ISNULL(SUM(CASE WHEN F.idEstadoFactura = 0 THEN F.totalAPagar END), 0) AS totalDeudaPendiente
			, MIN(CASE WHEN F.idEstadoFactura = 0 THEN F.fechaVencimiento END) AS fechaVencimientoMasAntiguo
			, ISNULL(MAX(CASE 
				WHEN F.idEstadoFactura = 0 AND GETDATE() > F.fechaVencimiento 
				THEN DATEDIFF(DAY, F.fechaVencimiento, GETDATE())
				ELSE 0 
			  END), 0) AS diasMaximosVencidos
		FROM dbo.Factura F
		WHERE (F.numeroFinca IN (SELECT numeroFinca FROM @tablaFincas))
		GROUP BY F.numeroFinca;

    END TRY
    BEGIN CATCH

        
        INSERT INTO dbo.DBErrors (
            userName
            , errorNumber
            , errorState
            , errorSeverity
            , errorLine
            , errorProcedure
            , errorMessage
            , errorDateTime
        )
        VALUES (
            SUSER_SNAME()
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ERROR_PROCEDURE()
            , ERROR_MESSAGE()
            , GETDATE()
        );

        SET @outResultCode = 50506;

    END CATCH;

    SET NOCOUNT OFF;
END;
